body.dark {
	color: #ccc;
	background-color: #444;
}

img.img-thumbnail {
	background-color: #777;
	border: 0;
	background: linear-gradient(#777, #999);
	-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    -ms-border-radius: 8px;
     -o-border-radius: 8px;
        border-radius: 8px;
}